{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Liste {{id}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/list?id={{ id }}" method="post" style="text-align: right;"><input id="print" type="submit" value="Drucken" name="print"></form>
  <table>
    <tr><th>Id</th><th class="required">Artikelname</th><th class="required">Preis</th><th>Größe</th><th></th></tr>
    {% for article in articles %}<tr{% if article.deleted %} class="deleted"{% endif %}><td>{{article.lid}}</td><td>{{article.name}}</td><td>{{article.price}}</td><td>{{article.size}}</td><td><form action="/list?id={{ id }}" method="post"><input type="submit" value="Löschen" name="delete"><input type="hidden" name="articleid" value="{{article.lid}}"><input type="hidden" name="listid" value="{{id}}"></form></td></tr>
{% endfor %}
      <tr><form action="/list?id={{ id }}" method="post"><td></td><td class="input"><input type="text" name="aname" id="aname"  placeholder="Artikelname"></td><td class="input"><input type="text" name="price" id="price" placeholder="Preis"></td><td class="input"><input type="text" name="size" id="size" placeholder="Größe"></td><td><input type="hidden" value="{{ id }}" name="lid"><input type="submit" value="Speichern" name="save"></td></form></tr>
  </table>
{% endblock %}